{% extends "layout.html" %}

{% block title %}
    Capital
{% endblock %}

{% block main %}
      <form action="/capital" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="code" placeholder="Country Code" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Capital Lookup</button>
    </form>
    <br />
    {% if error_msg %}
        <p class="error">{{ error_msg }}</p>
    {% endif %}
    <br />
    {% if capital %}
    <div>
        <p>Country: {{ country }}</p>
        <p>Capital City: {{ capital }}
    </div>
    {% endif %}
    
{% endblock %}