{% extends "layout.html" %}

{% block title %}
    Capital
{% endblock %}

{% block main %}
    <h3>Capital</h3>
    <p>Enter World Bank's <a href="https://wits.worldbank.org/wits/wits/witshelp/content/codes/country_codes.htm" target="_blank">ISO 3-letter code</a> to find the capital city of that country.</p>
    <form action="/capital" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="code" placeholder="Country Code" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Capital Lookup</button>
    </form>
    <br />
    {% if error_msg %}
        <p class="error">{{ error_msg }}</p>
    {% endif %}
    <br />
    {% if capital %}
    <div>
        <p>Country: {{ country }}</p>
        <p>Capital City: {{ capital }}
    </div>
    {% endif %}
    
{% endblock %}