{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}
   
{% block main %}
    <p>This application has 3 features:</p>
    <ol>
        <li><a href="/capital">Capital</a> - Enter country code to find the capital city for the country.</li>
        <li><a href="/coordinates">Coordinates</a> - Enter minimum and maximum latitude and longitude to find a list of cpaital cities within those coordinates.</li>
        <li><a href="/route">Shortest route</a>- Enter 4 capital cities to find the shortest route among them.</li>
    </ol>
{% endblock %}